@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins&family=Roboto+Condensed:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .nav-link {
    @apply text-lg font-Poppins text-white transition-all hover:font-bold hover:scale-110
  }
}